CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = permohonan_siswa
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
